body {
    font-family: Arial, sans-serif;
    background-color: #FFA07A;
    color: #FF69B4; 
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.hero-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 50%;
}

.imagem-gym {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.quem-somos {
    background-color: #6d0e0e; 
    padding: 50px 0;
}

.quem-somos-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nutri {
    padding: 50px 0;
    background-color: #FFC0CB; 
}

.nutri-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nutri-text {
    width: 50%;
}

.nutri-image {
    width: 30%;
    text-align: center;
}

.about-text {
    width: 70%;
}

.quem-somos-image {
    width: 30%;
    text-align: right;
    display: flex;
}

footer {
    text-align: center;
    padding: 20px 0;
}
